<%= form_with(model: @article) do |f| %>
<% if @article.errors.any? %>
    <div id="error_explanation" class="bg-red-900 text-red-200 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% @article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class='flex flex-col gap-2'>
  <%= f.label :title, style: 'display: block'%>
  <%= f.text_field :title, class: 'p-1 bg-slate-800 border rounded-lg hover:bg-slate-600'%>
  <%= f.label :body, style: 'display: block'%>
  <%= f.text_area :body, class: 'p-1 bg-slate-800 border rounded-lg hover:bg-slate-600'%>
  <div class='flex gap-2'>
    <%= f.submit 'Save article', class: 'border border-slate-500 hover:border-slate-400 rounded-lg px-2 py-1 bg-slate-700 cursor-pointer'%>
    <%= link_to 'Cancel', articles_path, class: 'border border-slate-500 hover:border-slate-400 rounded-lg px-2 py-1 bg-slate-700 cursor-pointer' %>
  </div>
</div>
<% end %>