<div class='flex flex-col gap-4 mx-auto'>
  <div class='bg-slate-600 py-4 px-6 rounded-lg'>
    <h3 class='texl-xl font-bold'><%= @article.title %> </h3>
    <p><%= @article.updated_at.strftime("%B, %d, %Y") %></p>
    <div class='bg-slate-700 py-4 px-6 rounded-md'>
      <p><%= @article.body%></p>
    </div>
    <div class='grid grid-flow-col justify-stretch gap-2 my-4 border-t border-b'>
      <%= link_to 'Edit', edit_article_path(@article), class: 'bg-slate-600 hover:bg-blue-900 py-2 px-4 rounded-md text-center' %>
      <%= link_to 'Delete', article_path(@article), data: {turbo_method: :delete, turbo_confirm: 'Delete article?'}, class: 'bg-slate-600 hover:bg-blue-900 py-2 px-4 rounded-md text-center' %>
      <%= link_to 'Comment', article_path(@article), data: {turbo_method: :delete, turbo_confirm: 'Delete article?'}, class: 'bg-slate-600 hover:bg-blue-900 py-2 px-4 rounded-md text-center' %>
    </div>
    <% if @article.comments.any?%>
      <div class='flex bg-slate-500 rounded-xl py-1 px-2 mb-2'>
        <p class='text-sm'>👦️<span class='font-semibold'> <%= @article.comments.first.commenter %></span> <%= @article.comments.first.body %>...</p>
      </div>
    <% end %>
    
    <div>
      <ul class='flex flex-col gap-2'><%= render @article.comments %></ul>
    </div>
  </div>
  <div class='bg-slate-500 rounded-xl py-1 px-2 my-2'>
    <%= render 'comments/form' %>
  </div>
</div>